name: Atualizar Pac-Man Contribution

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 0"  # roda todo domingo à meia-noite

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Gerar gráfico Pac-Man
        uses: AndreRuperto/pacman-contribution-graph@main
        with:
          github_user_name: leomorais0930
          github_token: ${{ secrets.GITHUB_TOKEN }}
          theme: dark          
          output_directory: .  

